@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.linkContainer {
    font-family: 'Jost', sans-serif;
    font-size: 150%;
    background-color: var(--seedBrown);
    transition: 0.1s;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkContainer:active {
    transform: translateY(5px);
    transition: 0.1s;
}