.container {
    border-style: solid;
    border-width: 2px;
    border-color: var(--sproutGreen);
    margin-left: 7px;
    margin-right: 7px;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    justify-content: center;
    align-items: center;
}

.Header {
    font-family: 'Jost';
    font-size: 34px;
    text-align: center;
    font-weight: bold;

}

.section {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 70px;
    margin-top: 20px;
}

.section_madhu {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    margin-right: 10px;
    margin-bottom: 22px;
}

.description_madhu {
    margin-left: 19px;
    line-height: 1;
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.description {
    line-height: 10px;
    margin-top: 50px;

}

.role {
    text-align: center;
    font-family: 'Jost';
    font-size: 16px;
}

.name {
    font-size: 24px;
    font-family: 'Jost';
}



@media screen and (min-width:850px) {
    .container {
        margin-left: 200px;
        margin-right: 200px;
    }
}