.container {
    border-style: solid;
    border-width: 2px;
    border-color: var(--sproutGreen);
   
    margin: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
}

.Header {
    font-family: 'Jost';
    font-size: 34px;
    text-align: center;
    font-weight: bold;

}

.section {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 1rem;
    align-items: center;
}

.section_madhu {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.description_madhu {
    margin-left: 19px;
    line-height: 1;
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.description {
    line-height: 10px;
    margin-top: 50px;

}

.role {
    text-align: center;
    font-family: 'Jost';
    font-size: 16px;
    text-align: start;
    line-height: 20px;
    
}

.name {
    font-size: 24px;
    font-family: 'Jost';
}

.image{
    position: relative;
   left: 50px;
}





