:root {
/** Colors*/

--dark-green: #1D4923;
--forest-green :#3B9545;
--matris-green : #5FBF6A;
--background-green: #EBFFEE;
--dark-brown: #392105;
--chocolate-brown:#844D0B;
--Sepia-Brown: #603808;
--orange:#FF8800;
--blue:#4F86F7;




}

