@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {
    background-color: var(--beige);
    font-family: 'Jost', sans-serif;
    margin-bottom: 4rem;
}

.pageHeader {
    font-size: 2.125rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.pageSubHeader {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
}

.catalogueContainer {
    padding: 2rem;
}