

.bodyContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    padding-top: 0;
}

.quizContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border: solid;
    border-color: var(--sproutGreen);
    border-width: 2px;
}

.quizHeader{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: -2rem

}

.spacer{
  margin-bottom: 2rem;
}

.questionHeader{
    text-align: center;
    margin: 0;
}

.backNextContainer{
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.disabled {
    pointer-events: none;
    display: none;
  }
  
  .top_summary_container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .h_text{
    color: var(--vegeOrange);
  }
  .img_set_four{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .img_set_two{
    display: flex;
    flex-direction: row;

  }