.summaryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img_set_four{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    
  justify-content: center;
  text-align: center;  
  }

  .resultContainer{
    padding: 1rem;
  }

.button{
  width: 9.188rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}