.main{ 
    height: 1496px;
    background: url(/graphics/fruitsection.svg) no-repeat bottom;
    background-size: 100%;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grpahic_results{
    display: flex;
    justify-content: center;
}

.results_description{
    margin-top: -20px;
    text-align: center
}


.header_results{
    color: var(--fruitBlue);
    font-size: 34px;
    text-align: center;
}

.results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.fruit_results{
    display: flex;
    flex-direction: column; 
    gap: 20px;
    margin-bottom: 50px ;
}

.summaryResults{
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}

.gridItem{
    display: flex;
    justify-content: center;
}


@media screen and (min-width:600px){
    .main{
        background:none
    }
}
