.main_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  
}

.h1_size {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Jost';
}

.para_main {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: var(--polyGreen) solid 2px;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
}

.girl_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 6.5rem;
}